// pre {
//         font-family: "Courier 10 Pitch", Courier, monospace;
//         font-size: 95%;
//         line-height: 140%;
//         white-space: pre;
//         white-space: pre-wrap;
//         white-space: -moz-pre-wrap;
//         white-space: -o-pre-wrap;
//         background: black;
//         z-index: 100;
//         position: absolute;
//         top:0;
//         left: 0;
// }       

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}

#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

pre {
   display: block;
   padding: 9.5px;
   margin: 0 0 10px;
   font-size: 13px;
   line-height: 1.42857143;
   word-break: break-all;
   word-wrap: break-word;
   color: #4D4D4D ;
   background-color: #f5f5f5 ;
   border: 1px solid #ccc;
   border-radius: 0;
}