.quicklook-content {

	// @include center;
	// position: fixed;
	// background-color: #bada55;
	// display: inline-block;
	// width: 50%;
	// min-height: 400px;
	// display: none;


	position: relative;
	background: #FFF;
	// margin: 20px;
	width: auto;
	max-width: 800px;
	// max-width: 90vw;
	margin: 20px auto;

	// padding-top: $sitepadding;
	border-top: 44px solid $red;
	border-bottom: 2px solid $red;

	-webkit-box-shadow: 0px 11px 48px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 11px 48px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 11px 48px -5px rgba(0,0,0,0.75);

	.pop-up-category {
		color: $brand-red;
		font-size: 13px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	a.button {
	    background: transparent;
	    border: 1px solid gray;
	    color: initial;
	    font-weight: bold;
	    padding: 0.85em $sitepadding;
	}


}

ul.quick-look-links {
	list-style-type: none;
	font-weight: bold;
	margin: $sitepadding 0;
	li {
		padding: 5px 0;
		span, a {
			vertical-align: top;
			color: initial;
		}
	}
	 a.share-button {
		color: initial;
	}
}

body.post-type-archive-artists {
	
	.mfp-close-btn-in .mfp-close {
	    top: -44px;
	    color: $white;
	    opacity: 1;
	}

}

.mfp-bg {
    background: #ffffff;
}

.quicklook-content-profile,
.quicklook-content-pic {
	width: 100%;
	float: left;

	@include breakpoint(large){
		width: 50%;
		height: 300px;
	}

}

@include breakpoint(small only){
	.quicklook-content-pic {
		height: 400px;
	}
}

// .quicklook-content-profile {
// 	max-height: 400px !important;
// }

.quicklook-content-pic {
	@include full-bg;
}

.quicklook-content-profile {
	background-color: $lightbrown;
	padding: $sitepadding;
}

.quicklook-content-bio {
	padding: $sitepadding;
	float: left;
}

.quicklook-content-links {
	padding: $sitepadding;
}