//Center Test Hero styles

.center-text-hero-header {
	position: relative;	
	display: table;
	width: 100%;	
	min-height: 182px;
	@include full-bg;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	background: $header-beige;
	margin-bottom: $sitepadding;
	.center-hero-text {
    	display: table-cell;
    	vertical-align: middle;
    	padding: 25px 10%;
		p {
			margin-bottom: 0;
		}
	}
}

// MEDIA QUERIES
@include breakpoint(medium up) {
	.center-text-hero-header {
		min-height: 182px;
		margin-bottom: $sitepadding-large;
	}
}