//Center Test Hero styles

.center-text-hero-header {
	position: relative;
	height: 30vh !important;
	max-height: 500px;
	@include full-bg;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	.center-hero-text {
		@include center;
		width: 90%;
		p {
			margin-bottom: 0;
		}
	}
}

// MEDIA QUERIES
@include breakpoint(medium up) {
	.center-text-hero-header {
		height: 28em !important;
		margin-bottom: $sitepadding-large;
	}
}