.events-listing {
	padding: 1rem 0;
	border-top: 1px solid $red;
	.accordion {
		padding: 1rem 0;
	}
}

.online-performances-link {
	button {
		background-color: #fefefe;
		color: #F2F1ED;
		border: 1px solid #B49A81;
		color: #B49A81;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
	}
}