//Loading delay screen
body.page-template-home #loading-delay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $brand-red !important;
    z-index: 100001;
    top: 0;
}
body:not(.page-template-home) #loading-delay {
	display: none;
}

//home-hero styles
body.page {
	div.slick-slider {
		.center.slick-initialized.slick-slider {
		    height: 70vh;
		    @include full-bg;
		}
		.slick-slide {
			&:focus {
				outline: none;
			}
			a.hero-link {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
			}
		}
		.center-image {
			height: 69vh;
			margin: 1em 1em 2em;
			@include full-bg;
			background-position: 50% 33%;
			position: relative;
			.center-image--credits {
			    position: absolute;
			    bottom: 1em;
			    right: 1em;
			    color: #cccccc;
			}
		}
		.slick-dots {
		    bottom: 3px;
		    li button:before {
		    	font-size: 14px !important;
		    }
		}

		.slick-dotted {
		    .slick-slider {
		        padding-bottom: 30px !important;
		    }
		}
		button.slick-next.slick-arrow {
			right: 76px;
		}
		button.slick-prev.slick-arrow {
			left: 76px;
			z-index: 1;
		}

	}
	
	.slick-dotted.slick-slider {
	    //padding-bottom: 30px;
	    margin-bottom: 0 !important;
	    background: #f2f1ed;
	}
}


//fiddle to make text backgrounds not overlap

div.padded-text { 
	line-height: 1.0;
	padding: 2px 0;
	// border-left: 20px solid rgba(186, 12, 47, 0.8);
	// display:inline-block;
	span { 
		background-color: rgba(186, 12, 47, 0.8); 
		color: #fff;
		//display: inline;
		display: table;
		margin: 0; 
	}
}

.hero-text-area.hero-text {
    position: absolute;
    bottom: 3em;
    margin-left: 1em;
	
	// span.hero-sub-header {
	//     font-size: 0.7em;
	// }
	// span.hero-header {
	//     font-size: 35px;
	// }
}

@include breakpoint(medium) {
	body.page {
		div.slick-slider {
			.center-image {
				margin: 2em 1em;
			}
		}
	}
}

//avoid flash of content further down page
.home-hero-container {
	min-height: 379px;
	background-color: #808080;
}
