// Single Artist Header area
body.single.single-artists {
	.artist-header.container {
	    max-width: 100%;
	    background-image: url("../images/bg-general-official.jpg");
	    @include full-bg;
	    height: 65vh;
	    position: relative;
	    .artist-details-area {
	    	width: 100%;
	    	//@include center;
	    }
	    .artist-details-container {
	    	padding: $sitepadding;
	    	.website {
	    		font-weight: bold;
	    	}
	    	i {
	    	    font-size: 1.2rem;
	    	}
	    }
	    span.artist-category {
    	    font-size: 13px;
    	    letter-spacing: 1px;
    	    text-transform: uppercase;
	    }
	}
	.enquiry-button {
		@include center(y);
		right: $sitepadding;
		border: 1px solid #ffffff;
		color: #ffffff;
		padding: 10px $sitepadding;
		font-weight: bold;
		a {
			color: #ffffff;	
		}
	}
}


//MEDIA QUERIES

@include breakpoint(medium) {
	body.single.single-artists .artist-header.container .artist-details-area {
		@include center;
	}
}