// Single Artist Header area
body.single.single-artists, body.single.single-clients, body.single-touring-partners {
	.artist-header.container {
	    max-width: 100%;
	    //background-image: url("../images/light-pattern.png");
	    @include full-bg;
	    height: auto;
	    position: relative;
	    .artist-details-area {
	    	//width: 100%;
	    	//@include center;
	    }
	    .artist-details-container {
	    	padding: $sitepadding-small;
	    	padding-left: 0;
	    	padding-right: 0;
	    	.website {
	    		font-weight: bold;
	    	}
	    	i {
	    	    font-size: 1.2rem;
	    	}
	    }

	    span.artist-category {
    	    font-size: 13px;
    	    letter-spacing: 1px;
    	    text-transform: uppercase;
    	    color: $brand-red;
	    }
	    .credit-wrapper {
	       bottom: 0.5em;
	       position: absolute;
	       color: #808080;
	    }
	}
	.enquiry-button {
		@include center(y);
		right: $sitepadding;
		border: 1px solid #ffffff;
		color: #ffffff;
		padding: 10px $sitepadding;
		font-weight: bold;
		a {
			color: #ffffff;	
		}
	}
}

@include breakpoint(small only) {
	body.single.single-artists .artist-header.container, body.single.single-clients .artist-header.container, body.single-touring-partners .artist-header.container {
			height: 225px;
			.artist-hero-image {
				height: 225px;
				padding-left: 0;
				padding-right: 0;
				.artist-header-thumb {
					height: 225px;
					width: 100%;
					.image-curve {
						display: none;
					}
				}
			}
	}
}

@include breakpoint(medium only) {
	body.single.single-artists .artist-header.container, body.single.single-clients .artist-header.container, body.single-touring-partners .artist-header.container {
			.artist-hero-image {

				.artist-header-thumb {
					width: 80%;
					.image-curve {
						width: 53%;
					    background-repeat: no-repeat;
					    background-position: initial;
					    right: 0;
					}
				}
			}
	}
}

@include breakpoint(medium up) {
	.artist-header-thumb {
		border-radius: 0 25% 25% 0 / 0 50% 50% 0;
	}
}

div.side-bar-text-area {
	margin-top: $sitepadding;
	p {
		font-size: 1rem;
		margin-bottom: 0;
	}
}

.artist-social {
	i {
		padding-right: 7px;
	}
}

//MEDIA QUERIES

@include breakpoint(medium) {
	body.single.single-artists .artist-header.container .artist-details-area, body.single.single-clients .artist-header.container .artist-details-area, body.single-touring-partners .artist-header.container .artist-details-area {
		// /@include center;
		.artist-details-container {
			padding: $sitepadding;
			padding-left: 0;
		}
	}
	body.single.single-artists, body.single.single-clients, body.single-touring-partners {
		.artist-header.container {
			height: 450px;
		}
	}
}


//New Artist Header Styles
.artist-hero-image {
	padding-left: 0;
	top: 0;
	bottom: 0;
	left: 0;
	position: relative;
	//max-height: 28em; //temp
	overflow: hidden; //temp
	svg {
	    top: 0;
	    height: 101%;
	    position: absolute;
	    z-index: 99;
	}
}

.small-12.medium-6.columns.artist-details-container {
	//position: absolute;
	left: 50%;
}

img.artist-header-thumb {
	height: 100% !important;
	width: 100% !important;
	box-shadow: none;
	z-index: 9999;
}

body.single-artists {
	.magazine-item {
		margin-bottom: 0;
	}
	.artist-header.container {
		background: $header-beige;
		z-index: -2;
	}
}

body.single-touring-partners {
	.artist-header.container {
		background: $header-beige;
		z-index: -2;
	}
}


.artist-header-thumb {
	@include full-bg;
	background-position: 50% 33%;
	height: 450px;
	width: 70%;
	//position: relative;
}



//Artist image curve

svg.artist-circle {
	height: 100%;
	left: 10%;
	//position: inherit;
	top: 0;
	bottom: 0;
	z-index: 9;
}

path.crescent {
    fill: #FBFAF6;
}


.image-curve {
	position: absolute;
	right: 0;
	top: 0;
	height: 450px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: right 0;
}
