// Single Artist Header area
body.single.single-artists, body.single.single-clients {
	.artist-header.container {
	    max-width: 100%;
	    background-image: url("../images/light-pattern.png");
	    @include full-bg;
	    height: auto;
	    position: relative;
	    .artist-details-area {
	    	width: 100%;
	    	//@include center;
	    }
	    .artist-details-container {
	    	padding: $sitepadding-small;
	    	.website {
	    		font-weight: bold;
	    	}
	    	i {
	    	    font-size: 1.2rem;
	    	}
	    }
	    span.artist-category {
    	    font-size: 13px;
    	    letter-spacing: 1px;
    	    text-transform: uppercase;
	    }
	}
	.enquiry-button {
		@include center(y);
		right: $sitepadding;
		border: 1px solid #ffffff;
		color: #ffffff;
		padding: 10px $sitepadding;
		font-weight: bold;
		a {
			color: #ffffff;	
		}
	}
}

div.side-bar-text-area {
	margin-top: $sitepadding;
	p {
		font-size: 1rem;
		margin-bottom: 0;
	}
}

//MEDIA QUERIES

@include breakpoint(medium) {
	body.single.single-artists .artist-header.container .artist-details-area, body.single.single-clients .artist-header.container .artist-details-area {
		@include center;
		.artist-details-container {
			padding: $sitepadding;
		}
	}
	body.single.single-artists, body.single.single-clients {
		.artist-header.container {
			height: 28em
		}
	}
}