//Staff Details
div.staff-header {
	li {
		text-transform: uppercase;
		color: #b38a76;
		font-size: 13px;
		letter-spacing: 1px;
		list-style-type: none;
	}
}

.staff-category {
	li {
		text-transform: uppercase;
		color: #b38a76;
		font-size: 13px;
		letter-spacing: 1px;
		list-style-type: none;
	}
}

.quicklook-content-profile {
	ul {
		margin-left: 0;
	}
	li {
		list-style-type: none;
	}
}
