//#acf flexible text-banner
.text-banner-wrapper {
	max-width: 100%;
    left: 0;
    //position: absolute;
    margin: $sitepadding 0;
    .text-banner {
    	text-align: center;
    	color: white;
    	max-width: 90%;
    	margin: 0 auto;
    }
}

//medium styles
@include breakpoint(medium only) {
	.text-banner {
		margin: 0 4rem;
		padding: $sitepadding;
	}
}

//large-up styles
@include breakpoint(large up) {
	.text-banner {
		margin: 0 7rem;
		padding: $sitepadding;
	}
}