//Thumbnail links on Tours pages

.row.thumbnail-links {
	.thumbnail-link-image {
		@include full-bg;
		height: 200px;
	    padding: 0;
	    position: relative;
	    margin: 0.9rem;
	}
	a.thumbnail-link {
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,0.5);
		transition: 0.5s;

		.thumbnail-link-text {
			color: #ffffff;
			@include center;
			font-weight: bold;
		}
	}
	//lighten when hovered
	a.thumbnail-link:hover {
		background: rgba(0,0,0,0.3);
	}
}
