body.post-type-archive-events {
	div#archive {
	    margin: 0;
	    max-width: 100%;
	}
}

.artist-filtering-block {
    position: relative;
    border-bottom: 1px solid #cccccc;
    background: $header-beige;
    height: 182px;
}

.filter-area {
	text-align: center;
	width: 100%;
}



//making categories fit on one line

@include breakpoint(medium up) {
	.artist-categories {
		//display: -webkit-box;
		width: 100%;
		padding-left: 0;
	}

	.artist-categories li {
		float: none !important;
		display: inline-block;
		text-align: center;
	}
	.artist-categories {
		@include center(x);
	}

}

//making categoried fit on one line //END


// .artist-categories {
// 	position: absolute;
// 	bottom: 0;
// 	// width: 100%;
// 	list-style: none;
// 	margin: 0;
// 	li {
// 		color: $white;
// 		float: left;
// 		margin-right: ($sitepadding / 2);
// 		margin-bottom: ($sitepadding / 2);
// 		a {
// 			// color: $white;
// 			@extend .button;
// 			background-color: $white;
// 			color: $lightbrown;
// 			border: 1px solid $brown;
// 			color: $brown;
// 			margin-bottom: 0;
// 			&:active,
// 			&:focus,
// 			&:hover {
// 				background-color: $red;
// 			}
// 		}

// 		&.current-cat {
// 			a {
// 				background-color: $red;
// 				color: $white;
// 			}
// 		}
		
// 		&.current-cat-parent,
// 		&.current-cat-ancestor {
// 			a {
// 				background-color: $red;
// 				color: $white;
// 			}
// 			.children {
// 				a {
// 					background-color: $bggrey;
// 					color: $white;
// 					&:hover {
// 						background-color: $red;
// 					}
// 				}
				
// 			}
// 		}
		
// 	}

// 	.children {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 	}
	
// 	.current-cat,
// 	.current-cat-parent {
// 		a { 
// 			background-color: $white;
// 			color: $lightbrown;
// 			border: 1px solid $brown;
// 			color: $brown;
// 		}
// 		ul.children {
// 			margin-left: ($sitepadding / 2);
// 			display: block;
// 			float: right;
// 			li {
// 				float: left;
// 				margin-bottom: 0;
// 			}
// 		}
// 	}

// }


.artist-categories {
	position: absolute;
	bottom: 1em;
	// width: 100%;
	list-style: none;
	margin: 0;
	max-width: 95%;
	li {
		color: $white;
		float: left;
		//margin-right: ($sitepadding / 2);
		margin-bottom: 2px;
		text-transform: uppercase;
		letter-spacing: 1px;
		a {
			// color: $white;
			@extend .button;
			background-color: $white;
			color: $lightbrown;
			color: $brown;
			margin-bottom: 0;
			padding: ($sitepadding / 4);
			
			&:active,
			&:focus,
			&:hover {
				background-color: $brand-gold;
			}
		
		}

		&.current-cat {
			a {
				background-color: $brand-gold;
				color: $white;
			}
		}

		// &.current-cat {
		// 	a {
		// 		background-color: $red;
		// 		color: $white;
		// 	}
		// }
		
		// &.current-cat-parent,
		// &.current-cat-ancestor {
		// 	a {
		// 		background-color: $red;
		// 		color: $white;
		// 	}
		// 	.children {
		// 		a {
		// 			background-color: $bggrey;
		// 			color: $white;
		// 			&:hover {
		// 				background-color: $red;
		// 			}
		// 		}
				
		// 	}
		// }
		
	}

	.children {
		display: none;
		list-style: none;
		margin: 0;
		// &:before {
		// 	content: 'yeah';
		// 	display: block;
		// 	width: 100px; // temp
		// }
	}

	// first parent
	// .current-cat {
	// 	// height: 100px; // temp
	// 	// position: relative;
	// 	// width:  100%;
	// }
	.current-cat.i-have-kids,
	.current-cat-parent {
		// height: 100px; // temp
	}
	
	.current-cat,
	.current-cat-parent {
		a { 
			// background-color: $white;
			// color: $lightbrown;
			// border: 1px solid $brown;
			// color: $brown;
			background-color: $red;
			color: $white;
		}
		ul.children {
			position: absolute;
			display: inline-block;
			top: 100%;
			@include center(x);
			width: 100%;

			li {
				float: left;
				margin-bottom: 0;
				a {
					background-color: $brown;
					&:active,
					&:focus,
					&:hover {
						background-color: $red;
					}
				}
				&.current-cat {
					a {
						background-color: $red;
						&:active,
						&:focus,
						&:hover {
							background-color: $red;
						}
					}
				}
			}
		}
	}

}

//Styles for when instrumentalists term is clicked. Move row up to allow children room underneath
.term-singers,
.term-instrumentalists {
	.artist-filtering-block {

		.filter-area {
			position: absolute;
			bottom: 0;			
    		-webkit-transform: translateY(-75%);
    		-ms-transform: translateY(-75%);
    		transform: translateY(-75%);
		}

		.artist-categories {
			bottom: 0;
			@include center(x);
		}

	}
}

/// highlight show all on archive page
body.post-type-archive-artists {
	li.cat-item-all {
		a {
			background-color: $red;
			color: $white;
		}
	}
}



//MEDIA QUERIES **************

@include breakpoint(small only) {
  ul.artist-categories {
  	width: 100%;
  	li {
  		margin-right: 2.5px;
  		margin-bottom: 2.5px;
  		a {
  			padding: 0.85em 0.5em;
  			font-size: 10px;
  		}
  	}
  }
  h2.hero-heading {
  	    font-size: 2rem;	
  }
}
@include breakpoint(medium) {
	.artist-filtering-block  {
		height: 182px;
		margin-bottom: 3em;
	}
}
