.artist-filtering-block {
	background-color: $lightbrown;
	position: relative;
}

.artist-categories {
	position: absolute;
	bottom: 0;
	// width: 100%;
	list-style: none;
	margin: 0;
	li {
		color: $white;
		float: left;
		margin-right: ($sitepadding / 2);
		margin-bottom: ($sitepadding / 2);
		a {
			color: $white;
			@extend .button;
			margin-bottom: 0;
			// SASS MAGIC RIGHT HERE!
			// display: block;		
		}
	}
}

