.discography {
	ul.accordion {
		border-bottom: 1px solid #cccccc;
	}	
	li.accordion-item {
		padding: $sitepadding 0;
		border-top: 1px solid #cccccc;
		font-size: 19px;
	}
	.press-details {
		display: flex;
		.discoraphy_title, .more-info {
			line-height: 75px !important;
			margin-left: $sitepadding;
		}
		.discography-image {
			@include full-bg;
			height: 75px;
			width: 75px;
		}
	}
}

@include breakpoint(medium) {
	.discography {
		.press-details {
			.discoraphy_title, .more-info {
				line-height: 150px !important;
			}
			.discography-image {
				@include full-bg;
				height: 150px;
				width: 150px;
			}
		}
	}
}