.filtering-block {
	background-color: $header-beige;
	position: relative;
	@include full-bg;
	//min-height: 200px;
	height: 182px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	.hero-heading {
		font-family: $serif-font;
	}
	.filter-header {
		@include center();
		width: 90%;
		z-index: 1;
	}
	button.button {
	    background-color: #fefefe;
	    color: #F2F1ED;
	    border: 1px solid #B49A81;
	    color: #B49A81;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-weight: bold;
	}
	button.button:hover {
		background-color: #BA0C2F;
		color: #ffffff;
	}
	ul#example-dropdown {
		@include center(x);
		left: 50% !important;
		margin-left: 0;
	    list-style-type: none;
	    text-align: left;
	    a {
	    	color: initial;
	    }
	}
}