//General filtering background styles

.artist-filtering-block {

	header.filter-header {
		position: absolute;
	    top: 30%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -100%);
	    -ms-transform: translate(-50%, -100%);
	    transform: translate(-50%, -100%);
		width: 90%;
		text-align: center;
	}

	// .artist-categories {
	// 	//@include center(x);
	// }

	.artist-categories {
		position: absolute;
	    left: 50%;
	    -webkit-transform: translate(-50%, -100%);
	    -ms-transform: translate(-50%, -100%);
	    transform: translate(-50%, -100%);
		//width: 80%;
	}

}

@include breakpoint(medium) {
	.artist-filtering-block header.filter-header {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -100%);
	    -ms-transform: translate(-50%, -100%);
	    transform: translate(-50%, -100%);
	    width: 80%;
	    text-align: center;
	}
}