.filtering-block {
	background-color: $lightbrown;
	position: relative;
	@include full-bg;
	min-height: 200px;
	height: 45vh;
	max-height: 500px;
	background-repeat: repeat-x;
	background-size: inherit;
	text-align: center;
	.hero-heading {
		font-family: $serif-font;
	}
	.filter-header {
		@include center();
		width: 90%;
	}
	button.button {
	    background-color: #fefefe;
	    color: #F2F1ED;
	    border: 1px solid #B49A81;
	    color: #B49A81;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-weight: bold;
	}
	button.button:hover {
		background-color: #BA0C2F;
		color: #ffffff;
	}
	ul#example-dropdown {
	    list-style-type: none;
	    text-align: left;
	    a {
	    	color: initial;
	    }
	}
}