//bottom link banner
.link-banner {
	.row {
	    max-width: 60.375rem;
	}
	.link-banner-button {
		text-align: center;
		padding: $sitepadding-large 0;
	}
	button {
		border: 1px solid #ffffff;
		padding: 1em 4em; 
		color: #ffffff;
		font-weight: bold;
	}
}

@include breakpoint(medium only) {
	.link-banner-button {
		padding: $sitepadding-large;
	}
}
