//individual magazine posts on archive

.magazine-item {
	border: 1px solid #dddddd;
	margin-bottom: 2em;
	transition: 0.5s;
	background-color: #ffffff;

	a {
		color: inherit;
	}

	.magazine-item-container {
		padding: 1em;
		.read-more {
			font-weight: bold;
			color: #d7d4c5;
			transition: 0.5s;
			margin-top: 1em;
			span.eye {
				opacity: 0;
				transition: 0.5s;
			}
		}
	}
	
	.magazine-item-thumb {
	    height: 200px;
	    @include full-bg;
	}
	
	.magazine-category {
		display: flex;
		li {
			list-style-type: none;
			text-transform: uppercase;
			display: flex;
			margin-right: 10px;
		}
		span.category {
			font-weight: bold;
			text-transform: capitalize;
		}
	}
	span.magazine-item-copy p {
	    font-size: 15px;
	}
	.magazine-item-header {
		margin: 1em 0 0 0;
		
		a {
			color: inherit;
		}
	}

}

.magazine-item:hover{
	-webkit-box-shadow: 6px 6px 5px 0px rgba(219,219,219,1);
	-moz-box-shadow: 6px 6px 5px 0px rgba(219,219,219,1);
	box-shadow: 6px 6px 5px 0px rgba(219,219,219,1);

	.read-more {
		color: $brand-red;
		span.eye {
			opacity: 1;
		}
	}
}

body.blog {
	article.main-content {
		position: relative;
	}
	.archive__load-more {
		@include center(x);
		bottom: 5px;
	}
}

body.blog {
	section.container {
		hr {
			opacity: 0;
		}
	}
}

 .archive__load-more {
 	font-weight: bold;
 }


//************************
//Single Magazine pages **
//************************

.single-magazine-category {
	display: flex;
	li {
		list-style-type: none;
		text-transform: uppercase;
		display: flex;
		margin-right: 10px;
	}
}


//****************************************
//Media Queries **************************
//****************************************

@include breakpoint(medium) {
	.magazine-item {
		height: 450px;
	}
}


