//individual magazine posts on archive
.magazine-item {
	margin-bottom: 2em;
	transition: 0.5s;
	background-color: #ffffff;

	a {
		color: inherit;
		word-wrap: break-word;
		font-size: 15px;
	}

	.magazine-item-container {
		padding: 0 1em 0;
		min-height: 132px;

		&.staff-header {
    		min-height: 220px;
    		padding: 0.5em 1em;
    		box-sizing: content-box;
		}

		.read-more {
			font-weight: bold;
			color: #d7d4c5;
			transition: 0.5s;
			margin-top: 1em;
			span.eye {
				opacity: 0;
				transition: 0.5s;
			}
		}
	}
	
	.magazine-item-thumb {
	    height: 250px;
	    @include full-bg;
	    background-position: 50% 33%;
	}
	
	.magazine-category {
		//display: flex;
		text-transform: uppercase;
	    font-size: 0.8rem;
	    letter-spacing: 1px;
		li {
			list-style-type: none;
			text-transform: uppercase;
			display: flex;
			margin-right: 10px;
		}
		span.category {
			//text-transform: capitalize;
		}
		span.magazine-date {
		    float: right;
		    color: $brand-gold;
		}
	}
	span.magazine-item-copy p {
	    font-size: 1.1rem;
	}
	.magazine-item-header {
		margin-bottom: 0;
		font-size: 1.1rem;
		
		a {
			color: inherit;
		}
	}
	//flags for people page
	.flag-area {
	    .flag {
	    	height: 13px;
	    	width: 25px;
	    }
	}
}

.quicklook-content-profile {
	//flags for people page
	.flag-area {
	    .flag {
	    	height: 30px;
	    	width: 30px;
	    }
	}
}

.magazine-item:hover {

	.read-more {
		color: $brand-red;
		span.eye {
			opacity: 1;
		}
	}
}
.type-people .magazine-item:hover{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

//staff blocks
.magazine-item-container.staff-header {
	.magazine-item-header p {
		margin-bottom: 0;
	}
}

body.blog {
	article.main-content {
		position: relative;
	}
	.archive__load-more {
		@include center(x);
		bottom: 5px;
	}
}

body.blog {
	section.container {
		hr {
			opacity: 0;
		}
	}
}

 .archive__load-more {
 	font-weight: bold;
 }

 body.blog {
 	article.main-content {
 		position: relative;
 		padding-bottom: 5em;
 	}
 	.archive__load-more {
 		@include center(x);
 		bottom: 3em;
 		a {
 			color: #BA0C2F;
 			font-weight: bold;
 			border: 1px solid #BA0C2F;
 			padding: 1em;
 			transition: 0.5s;
 		}
 	}
 	.archive__load-more a:hover {
 		color: #ffffff;
 		background: $brand-red;
 	}
 }

.large-item {
	.magazine-item .magazine-item-thumb {
		height: 250px;
	}
}


//************************
//Single Magazine pages **
//************************

.single-magazine-category {
	display: flex;
	li {
		list-style-type: none;
		text-transform: uppercase;
		display: flex;
		margin-right: 10px;
	}
}


//****************************************
//Media Queries **************************
//****************************************

@include breakpoint(medium) {
	body.page-template-home .magazine-item, body.single-artists .magazine-item, body.page-template-home .video-description {
		.video-title {
			//height: 450px;
			vertical-align:top;
		    //display: inline-block;
		    //width:100%;
		    //height:auto;
		    //float: left;
		}
	    .magazine-date {
	    	float: right;
	    }
	}
	// .magazine-item {
	// 	height: 450px;
	// }
}


