// JB Nav Styles
header#masthead {

	z-index: 5;
	// position: absolute;

	border-bottom: 1px solid gray;

	.top-bar-right {
	    float: left;
	    padding-left: 1em;
	}
	.top-bar .menu a:hover:not(.button) {
	    background-color: transparent;
	}
	.top-bar .menu li:not(:last-child) {
	    border-right: none;
	    height: $header-height;
	}
	//sub-item menu
	.top-bar .dropdown.menu .submenu {
		background: $red;
		li a {
			width: 100%;
			color: white;
		}
	}
	//mobile-nav styles
	.title-bar {
		background: transparent;
		.menu-icon::after {
			background: #000000;
			-webkit-box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
			box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
		}
	}
	img.nav-logo {
	    border-right: 1px solid $red;
	    padding-right: 2em;
	}
	.top-bar .menu li.is-submenu-item {
		height: 40px;
	}
	//social-icons
	.social-icon {
	    color: black;
	    padding: 0 15px;
	}
	i.fa-2x {
	    font-size: 1.3em;
	    // line-height: $header-height;
	}
	//search-area
	// .header-search {
	//     float: right;
	//     height: $header-height;
	//     line-height: $header-height;
	// }
	.header-social-area.show-for-medium {
	    float: left;
	}
}

nav#site-navigation {
    // max-width: 75rem;
    @include grid-row();
    // margin: 0 auto;
    margin: 0 2em; // adding some padding
    line-height: $header-height;
    // /position: relative;

    div#search-toggle {
    	transition: 0.5s;
    	background-color: transparent;
    	float: right;
    	// line-height: $header-height;
    	height: 50px;
    }
    .top-bar-left {

    	svg {
    		padding-right: 2em;
    	    border-right: 1px solid $red;
    	}

    	a {
    		padding: 0;
    		line-height: $header-height;
    	}
    }
}

// *****************
//MEGA MENU STYLES *
// *****************

li.mega-toggle-on {
	
	ul.mega-sub-menu {
		left: 0px !important;
		max-width: none !important;
		width: 100vw !important;
		position: fixed !important;
	}
	li#mega-menu-item {
		//left: 0 !important;
		//position: fixed;
	}
}

#mega-menu-wrap-top-bar-r #mega-menu-top-bar-r > li.mega-menu-item > a.mega-menu-link {
	font-size: 20px;
}


// *****************
//SEARCH AREA STYLES *
// *****************
.input-group {
    display: table;
    width: 30px;
    margin: 0 auto;
    input#searchsubmit {
    	background-color: $red;
    }
}

//MEDIA QUERIES
@include breakpoint(medium up){
	div#search-toggle {
		@include center (y);
		right: 0;
	}
	nav#site-navigation {
		position: relative;
	}
}

