// Navigation breakpoints
.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

// Mobile menu
.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar {
  position: relative;
  .title-bar-title {
    margin: 2em;
    a {
      font-size: 1rem;
      color: #B9B9B9;
      @include center;
    }
  }
}


//// styling mobile menu ///////
//// this is a bit hacky, but that's mega menu for you :) ///////

@include breakpoint(small only){

  .title-bar {
    // height: 100px;
  }

  // .title-bar .title-bar-title {
  //   display: none;
  // }

  // header#masthead .top-bar-right {
  //   padding-left: 0 !important;
  //   position: absolute;
  //   z-index: 10;
  //   // top: 10px;
  //   // left: 10px;
  //   top: 0;
  //   left: 0;
  //   .mega-toggle-block {
  //     height: $mob-header-height;
  //   }

  // }

  // #mega-menu-wrap-top-bar-r .mega-menu-toggle {
  //   background-color: transparent;
  //   // ul {
  //   //   background-color: $white;
  //   // }
  // }

  // #mega-menu-wrap-top-bar-r #mega-menu-top-bar-r {
  //   li {
  //     background-color: $white !important;
  //   }
  // }

  // #mega-menu-wrap-top-bar-r .mega-menu-toggle .mega-toggle-block-1:before,
  // #mega-menu-wrap-top-bar-r .mega-menu-toggle .mega-toggle-block-1:after {
  //   color: $black;
  // }

  // .header-search-toggle {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }

  // #mega-menu-wrap-top-bar-r .mega-menu-toggle {
  //   width: 100px;
  //   position: absolute;
  //   right: 0;
  //   top: 1em;
  // }

  // #mega-menu-wrap-top-bar-r .mega-menu-toggle.mega-menu-open + #mega-menu-top-bar-r {
  //   top: $mob-header-height;
  //   position: absolute;
  //   width: 100%;
  // }

}

//// end styling mobile menu ///////


// Tablet and desktop menu
.top-bar {
  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #000000;
    padding-top: 0;
    padding-bottom: 0;
    // font-weight: bold;
    transition: 0.5s;
    font-size: 1.1rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: #2a2a2a;
    }
  }
  .menu a:hover {
    color: gray;
  }

  .menu a:active, .current-menu-item a {
    color: $brand-red !important;
  }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
  }

  .menu li:not(:last-child) {
    //border-right: 1px solid #4e4e4e;
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }
  .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border: 0;
  }

  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
    display: none;
  }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear:both;
}

// Text meant only for screen readers. Addresses part of theme-check issue #840.
// https://github.com/Automattic/_s/blob/master/style.css
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; // Above WP toolbar.
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

//JBURT NAV STYLES 
.top-bar {
    // min-height: $header-height;
    @include breakpoint(large){
      height: $header-height;
    }
    // border-bottom: 1px solid gray;
}

.top-bar, .top-bar ul {
  background-color: white;
}

#mega-menu-wrap-top-bar-r #mega-menu-top-bar-r {
    line-height: 135px;
    color: initial;
    background: transparent;
}

#mega-menu-wrap-top-bar-r {
  a {
    color: #000000 !important;
  }

  background: transparent !important;
}
#mega-menu-wrap-top-bar-r #mega-menu-top-bar-r > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-top-bar-r #mega-menu-top-bar-r > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-top-bar-r #mega-menu-top-bar-r > li.mega-menu-item > a.mega-menu-link:focus {
  background: transparent !important;
}




//Adding triangle to dropdown from Nav
ul.dropdown.menu.vertical.submenu.is-dropdown-submenu.first-sub:before {
  //position: absolute;
  content: "";
  display: block;
  width: 16;
  height: 16;
  border: inset 12px;
  border-color: transparent transparent #BA0C2F transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -22px;
  z-index: 99;
  @include center(x);
}


//************************
// MEDIA QUERIES *********
//************************

@include breakpoint(medium up) {
  header#masthead .top-bar .dropdown.menu .submenu li a {
    vertical-align: middle;
    line-height: 10px;
  }
  header#masthead .top-bar .menu li.is-submenu-item {
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
    transition: 0.5s;
  }
  header#masthead .top-bar .menu li.is-submenu-item:hover {
      background: #da183f;
  }

}
