body.search-bar-is-visible {
  .searchbar {
    //display: block;
    height: 100px;
    max-width: 100%;
    padding: 30px;
    transition: 0.5s;
  }

  form#searchform {
  	display: block;
  }
}

.searchbar {
  max-width: 100%;
  transition: 0.5s;
  height: 0px;
  width: 100%;
  background-color: $brown;
  @include full-bg;
  
  input.input-group-field  {
    width: 50vw;
  }
  form#searchform {
  	display: none;
  }
}

