//Red nav bar within tours

ul.single-page-nav {
    list-style-type: none;
    display: flex;
    background: $red;
    margin-left: 0;
    height: 60px;
    position: relative;
    
    li {
    	padding: 0 $sitepadding;
    	color: white;
        line-height: 60px;
    	a {
    		color: white;
    		font-weight: bold;
    	}
    }
}

//styles for sticking nav after scroll
#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}