//Red nav bar within tours

.single-page-nav--container {
    
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;

    ul.single-page-nav {
        list-style-type: none;
        display: flex;
        background: $white;
        margin-left: 0;
        margin-bottom: 0;
        height: 60px;
        position: relative;

        li {
        	padding: 0 $sitepadding-small;
        	color: #808080;
            line-height: 60px;

        	a {
        		color: #808080;
        		font-weight: bold;
        	}
        }

        li.single-page-nav_link.active a {
            color: $red !important;
        }

    }
}








//styles for sticking nav after scroll
#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

//remove in-page nav links when screen too small
@media screen and (max-width: 1120px) {
    ul.single-page-nav {
        li.single-page-nav_link {
            display: none;
        }
        li.nav-title {
            display: block;
        }
    }
}