// ONLINE Page Styles

//SINGLE ONLINE STRESMS ********************************

body.single-online {
  article.main-content {
    max-width: 57.375rem;
    margin: 0 auto;
    header {
      margin-bottom: $sitepadding;
    }

    .side-bar-artist {
      border-top: 1px solid #cccccc;
      padding: $sitepadding 0;
    }
    .side-bar-artist:last-child {
      border-bottom: 1px solid #cccccc;
      margin-bottom: $sitepadding;
    }
    .side-bar-artist:first-child {
      margin-top: $sitepadding;
    }
  }
  #share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  }
}

.online-item-thumb {
  transition: 0.5s;
}

.online-item-thumb:hover {
  opacity: 0.8;
}
