// Splash page
body.home {

  color: #ffffff;

  .splash-page-hero {
    height: 100vh;
    width: 100%;
    position: relative;
  }

  header#masthead, div#footer-container {
    display: none;
  }

  .continue-link {
      @include center (x);
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: $sitepadding;
      a {
        color: #FFFFFF;
      }
  }

}

.hero-text-container {
  @include center;
  max-width: 50%;
}