// Splash page
body.home {

  color: #ffffff;

  .splash-page-hero {
    height: 100vh;
    width: 100%;
    position: relative;
    @include full-bg;
    .hero-text-container {
      // /@include center (y);
    }
    //SVG
    path#Fill-1 {
        fill: white;
    }
    path#Fill-3 {
        fill: white;
    }
    svg {
        left: 2em;
        position: absolute;
    }
    span.hero-blurb {
      p {
        line-height: 1.6;
      }
    }
  }

  header#masthead, div#footer-container {
    display: none;
  }

  .continue-link {
      @include center(x);
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: $sitepadding;
      //font-weight: bold;
      a {
        color: #FFFFFF;
      }
  }

}

@include breakpoint(large up) {
  .hero-text-container {
    @include center;
    max-width: 50%;
  }
}

@include breakpoint(small only) {
  .hero-text-container {
    @include center (y);
    margin: 0 1em;
    //max-width: 90%;
    p {
        line-height: 1.1;
    }
  }
  body.home .splash-page-hero svg {
      left: 0;
      position: relative;
      height: auto;
      width: 190px; 
  }
  .hero-logo-link {
      text-align: center;
  }
  body.home .continue-link {
    padding: 10px;
  }
}

@include breakpoint(medium only) {
  .hero-text-container {
    @include center;
    max-width: 90%;
  }
}
