// Tours & Project Page Styles

//SINGLE TOURS STYLES ********************************

.single-tours-projects {
  .tour-hero {
      position: relative;
      height: 70vh;
      max-height: 500px;
      @include full-bg;
  }
  .hero-text-area {
      position: absolute;
      bottom: 3em;
      margin-left: 1em;
      color: white;
  }
  //add some padding to gallery on tours-projects
  a.slick-slide {
      // margin: 10px;
      img {
          padding: 10px;
      }
  }
  
  //related artist details
  .side-bar-artist {
      display: flex;
      img.circle-thumb {
          margin-right: $sitepadding;
      }
      .side-bar-artist-name {
        font-weight: bold;
      }
  }
}

.image-source-link {
  color: #98C3D1;
}


.hidden {
    display: none;
}

.expanded {
  .hidden {
    display: block !important;
  }
}

.tour-contact-area {
  img.tour-contact-image {
    height: 55px;
    width: 55px;
    border-radius: 55px;
  }
}

img.circle-thumb {
  height: 60px;
  width: 60px;
  border-radius: 60px;
}

.tour-hero {
    position: relative;
    height: 70vh !important;
    max-height: 500px;
}




.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}






//Schedule/Accordion styles Events Page
.post-type-archive-events {
  .accordion-title {
      display: block;
      padding: 0;
      line-height: 1;
      font-size: inherit;
      color: inherit;
      position: relative;
      border: none;
      border-bottom: 0;
  }

  .accordion-title:before {
    display: none !important;
    // content: 'none';
    // -ms-transform: rotate(180deg); /* IE 9 */
    // -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    // transform: rotate(180deg);
  }

  :last-child:not(.is-active) > .accordion-title {
      border-bottom: none;
  }

  .accordion-title {
      display: flex;
    }
}

.side-bar-artist {
    display: flex;
    img.circle-thumb {
        margin-right: $sitepadding;
    }
    .side-bar-artist-name {
      font-weight: bold;
    }
}

//Schedule/Accordion styles
ul.accordion {
  margin-bottom: 0;
  
  li.accordion-item {
    .accordion-title {
        display: block;
        padding: 0;
        line-height: 1;
        font-size: inherit;
        color: inherit;
        position: relative;
        border: none;
        border-bottom: 0;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        line-height: 60px !important;
    }
    .accordion-title:hover, .accordion-title:focus {
      background-color: transparent;
    }
    hr {
      margin: 0.5em;
    }
  }
  :last-child > .accordion-content:last-child {
    border-bottom: none;
  }
  .accordion-content {
    color: initial;
    border: none;
  }
}

.accordion-title:before {
  content: '^';
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

:last-child:not(.is-active) > .accordion-title {
    border-bottom: none;
}

.event-listing-details {
    font-size: 19px;
}

span.more-info {
    right: 2em;
    position: absolute;
}

span.side-bar-artist-name, .event-detail {
  padding-right: $sitepadding;
}

.accordion-title:before {
  display: none !important;
  // content: 'none';
  // -ms-transform: rotate(180deg); /* IE 9 */
  // -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  // transform: rotate(180deg);
}


//MEDIA QUERIES
@include breakpoint(small only) {
  .event-listing-details {
      font-size: 19px;
      text-align: center;
      padding-right: 12px;
      .side-bar-artist-details {
        text-align: left;   
      }
  }
}

@include breakpoint(large up) {
  .event-listing-details {
    display: flex !important;
    line-height: 60px !important;
  }
}


