// Tours & Project Page Styles

body.post-type-archive-tours-projects {
  .tour-hero {
      height: 70vh;
      max-height: 400px;
      @include full-bg;
      color: white;
      position: relative;
  }
  .tour-project-archive-hero {
      height: 50vh;
      text-align: center;
  }
  .tour-thumbnail {
      height: 500px; //Temp.....
      @include full-bg;
  }
}



//SINGLE TOURS STYLES ********************************

.single-tours-projects {
  .tour-hero {
      position: relative;
      height: 70vh;
      max-height: 500px;
  }
  .hero-text-area {
      position: absolute;
      bottom: 3em;
      margin-left: 1em;
      color: white;
  }
  //add some padding to gallery on tours-projects
  a.slick-slide {
      // margin: 10px;
      img {
          padding: 10px;
      }
  }
}

.image-source-link {
  color: #98C3D1;
}

//show more/less on blurb
// .morecontent span {
//     display: none;
// }
// .morelink {
//     display: block;
// }


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

