//bottom link banner
.link-banner {
	.row {
	    max-width: 60.375rem;
	}
	.link-banner-button {
		text-align: center;
		padding: $sitepadding 0;
	}
	.small-12.medium-6.columns.link-banner-button {
		button {
			width: 75%;
		}
	}
	button {
		border: 1px solid #ffffff;
		padding: 1em;
		color: #ffffff;
		font-weight: bold;
	}
}

@include breakpoint(small only) {
	body.single-artists {
		.link-banner-button:last-child {
			padding-top: 0;
		}
	}
}

@include breakpoint(medium up) {
	.link-banner-button {
		padding: $sitepadding-large;
	}
}
