// Single Blog / Magazine / Green Room
.blog-meta {
    display: block;
   	ul.post-categories {
   	    list-style: none;
   	    margin-left: 0;
   	    text-transform: uppercase;
          margin-bottom: 0;
   	}
   	a {
   		color: initial;
   	}
   	p {
   		font-size: inherit;
   		line-height: 1.6;
   	}
   	time.updated, li, p {
   		margin-right: 1em;
   	}
}


//MEDIA QUERIES **********************

@include breakpoint(medium) {
   .blog-meta {
      display: flex;
   }
}