#single-post {
  //@include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
      //padding-left: 0 !important;
      //padding-right: 0 !important;
      float: none;
    }

    @include breakpoint(medium) {
      //@include grid-column(8);
    }
  }
  article {
    margin-bottom: $sitepadding-large;
  }
}

div#share-buttons {
    // position: absolute;
    // right: 4em;
    // top: 25em;
    ul {
        list-style: none;
        display: inline-flex;
    }
}


@media only screen and (min-width: 1200px) {
  div#share-buttons {
      position: absolute;
      right: 4em;
      top: 25em;
      ul {
          list-style: none;
          display: block;
      }
  }
}


.section-header.center {
    text-align: center;
}

@include breakpoint(medium) {
  article {
   // margin-top: $sitepadding-large;
  }
}