// this is just for devving - quick hacks that don't make it into final production.

.artists {	
	// temp, just for dev
	min-height: 350px;
}

.artist-filtering-block  {
	min-height: 300px;
}

.temp-testing-mp3 {
	margin-bottom: 100vh;
}


// .schedule { // remove this
	
// 	min-height: 80vh;
// 	background-color: $bgdarkgrey;

// }